.container {
    width: 1420px;
    height: 880px;
    margin: auto;
}
.box {
    width: 47%;
    float: left;
    padding: 1.5%;
}
video, img {
    max-width: 100%;
}
.header {
    box-sizing: border-box;
    color: rgb(46, 46, 46);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 29.7px;
    text-transform: uppercase;
    margin-top: 10px;
}
.layered-image {
  position: relative;
}
.image-overlay {
  position: absolute;
  top:  0px;
  left: 0px;
  opacity: .5;
}
